* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #201f1f;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.menu {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    font-size: 19px;
    text-align: center;

}

header img {
    width: 100px;
    height: 75px;
    padding: 9px;
}

nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    display: block;
    margin: 10px;
    padding: 0;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    display: block;
}

a.sacar-turno {
    display: block;
    background-color: #00bfff;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease;
}

a.sacar-turno:hover {
    background-color: #00a3cc;
}

section.informacion {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

section.informacion h1 {
    font-size: 2rem;
    margin-bottom: 0px;
}

section.informacion p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

section.informacion a {
    color: #00bfff;
    text-decoration: none;
    font-weight: bold;
}

section.informacion a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    padding: 25px;
}

h2 {
    color: aliceblue;
    padding: 25px;
}

body main {
    background-color: #555;
}

.carousel-inner .item img,
.carousel-inner .item a img {
    width: 100%;
    margin: auto;
}

input {
    background-color: rgb(38, 20, 197);
    padding: 12px;
    width: 100%;
    height: 100%;
    margin-top: 45px;
}

button {
    padding: 7px;
    font-style: italic;
    background-color: rgb(12, 56, 202);
    color: #fff;
    display: grid;
    margin: 6em auto;
}

footer.pie-pagina {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

footer.pie-pagina h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

footer.pie-pagina p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

footer.pie-pagina a {
    color: #fff;
}

footer.pie-pagina a:hover {
    color: #00bfff;
}

footer.pie-pagina .redes-sociales {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer.pie-pagina .redes-sociales li {
    display: inline-block;
    margin-right: 10px;
}

footer.pie-pagina .redes-sociales li:last-child {
    margin-right: 0;
}

footer.pie-pagina .redes-sociales a {
    color: #fff;
    font-size: 1.5rem;
}

footer.pie-pagina .redes-sociales a:hover {
    color: #00bfff;
}

footer.pie-pagina .creditos {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
}

footer.pie-pagina .creditos p {
    font-size: 1rem;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    header {
        padding: 50px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav ul li {
        margin-left: 0;
        padding: 0;
    }
    nav a {
        padding: 20px;
    }
    section div {
        flex-basis: 30%;
    }
}

@media only screen and (max-width: 767px) {
    .mapa {
    padding-bottom: 75%; 
    min-width: 250px;
    }
}
@media only screen and (max-width: 1300px){
    .tres-imagenes img{
        min-width: 70px;
    }
}


main img {
    width: 100%;
    height: auto;
    padding: 15px;
}

main .informacion {
    color: #000;
}

#sobre-mi {
    padding: 50px;
}

.imagen-texto {
    display: flex;
    align-items: center;

    margin-bottom: 50px;
    min-height: 100px;
    color: #fff;
}

.imagen-texto img {
    max-width: 30%;
    margin-right: 50px;
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.imagen-texto:hover img {
    filter: grayscale(0%);
}

.tres-imagenes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.tres-imagenes img {
    max-width: 70%;
    border-radius: 50%;
    line-height: 50px;
    font-size: 24px;
    transition: background-color 0.5s ease-in-out;
}

.texto-imagenes {
    max-width: 600px;
}

.texto-imagenes p {
    margin-bottom: 20px;
}

#masinfo {
    padding: 50px;
}

.imagen-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 60px;
}

.imagen-text img {
    max-width: 40%;
    margin-right: 100px;
}

.texto-img {
    max-width: 50%;
    margin-right: 200px;
}

.texto-img p {
    margin: 0;
    color: #fff;
}

.texto-img ul{
    color: #fff;
}

.texto-mapa {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    color: #fff;
}

.texto {
    max-width: 600px;
}

.texto h2 {
    margin-top: 0;
}

.mapa {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.mapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}